
<div class="input-group" ng-class="{'has-error' : submitted && productForm.name.$invalid}">
    <span class="input-group-addon"><label style="width: 70px">*Name</label></span>
    <input type="text" name="name" class="form-control" ng-model="product.name" required placeholder="Product Name"/>
</div>
<p ng-show=" submitted && productForm.name.$invalid" class="help-block">Name is required.</p>
</br>
<div class="input-group" ng-class="{'has-error' : submitted && productForm.price.$invalid}">
    <span class="input-group-addon"><label style="width: 70px">*Price </label> </span>
    <input type="number" name="price" class="form-control" ng-model="product.price" required placeholder="999.XX"/>
</div>
<p ng-show="submitted && productForm.price.$error.required" class="help-block">Price is required.</p>

</br>
<div class="input-group">
    <span class="input-group-addon"><label style="width: 70px">ImageURL</label> </span>
    <input type="text" name="image_url" class="form-control" ng-model="product.image_url"
              placeholder="Image URL" />
</div>
</br>
<div class="input-group">
    <span class="input-group-addon"><label style="width: 67px">Description</label> </span>
    <textarea name="description" class="form-control" ng-model="product.description"
              placeholder="description"></textarea>
</div>
</br>

<div class="input-group">
    <div class="pull-left">
        <a class="btn btn-default" href="/"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>